/* GENERAL ---------------------------------------- */
* {
  margin: 0;
  padding: 10px;
}

body {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Megrim", "Verdana", sans-serif;
  font-variant: small-caps;
}

header {
  /* background-color: rgb(151, 201, 153); */
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: rgb(178, 225, 203);
}

.blocked {
  pointer-events: none;
}

/* GOAL CARDS ------------------------------------- */
.goalBox {
  /* border: 1px white solid; */
  border-radius: 10px;
  height: 100px;
  padding: 10px 0;
  /* background-color: rgba(161, 235, 129, 0.338); */
}

#goalCardsDiv {
  display: flex;
  gap: 20px;
}

.cardBack {
  height: 100%;
  padding: 0;
}

/* GUESSED CARDS ---------------------------------- */
#allGuessedCardsDiv {
  display: flex;
  flex-direction: column;
}

.guessed {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: auto;
  padding: 10px;
  /* border: 1px pink solid; */
}

.guessedCard img {
  height: 80px;
}

p {
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 2px 2px black; */
}

.in {
  background-color: rgb(186, 216, 78);
}

.notIn {
  background-color: tomato;
}

/* AVAILABLE CARDS --------------------------------- */
#availableCardsDiv {
  background-color: rgb(31, 198, 120);
  display: grid;
  grid-template-columns: repeat(13, 50px);
  grid-template-rows: auto;
  width: 73%;

  /* padding: 10px; */
  /* border: 1px red solid; */
}

.guessableCards {
  transition: 0.5s;
  padding: 0;
}

.guessableCards:hover {
  transform: scale(1.1);
}

.guessableCards img {
  height: 100px;
  padding: 0;
}

/* BUTTONS --------------------------------------- */
#buttonsDiv {
  display: flex;
  gap: 10px;
}

button {
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
  font-family: "Megrim", "Verdana", sans-serif;
  font-variant: small-caps;
  background-color: rgb(210, 130, 80);
}

button:hover {
  background-color: rgb(121, 79, 41);
  transform: scale(0.9);
}
