*{
    margin: 0;
    padding: 10px;
}

body {
    background-color: darkgreen;
}

p{
    background-color: antiquewhite;
}
#allGuessedCardsDiv{
    display: flex;
    flex-direction: column;
}

.guessed{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: auto;
    padding: 10px;
    /* border: 1px pink solid; */
}

#availableCardsDiv {
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(13, 200px);
    grid-template-rows: auto;
    padding: 10px;
    /* border: 1px red solid; */
}

.goalBox{
    border: 1px white solid;
}
#goalCardsDiv{
    display: flex;
    gap: 20px
}

.guessableCards{
    transition: .5s;
}

.guessableCards:hover{
    transform: scale(1.1);
}

button {
    font-size: 20px;
    border-radius: 10px;
    transition: .5s;
}

button:hover{
    background-color: grey;
    transform: scale(1.2);
}

img{
    height: 200px;
}